<include file="Public/web_header" />

<include file="Public/web_left" />

<div id="dcMain">
    <!-- 当前位置 -->
    <div id="urHere">
        系统管理中心
        <b>></b>
        栏目管理
        <b>></b>
        <strong>修改栏目</strong>
    </div>
    <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="<{:U('index')}>" class="actionBtn">栏目列表</a>修改栏目</h3>
    <form action="<{:U('editsave')}>" method="post" enctype="multipart/form-data">
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
            <tr>
                <td width="90" align="right">所属分类</td>
                <td>
                    <select name="parentid">
                        <option value="0">一级分类</option>
                        <{$TypeList}>
                    </select>
                </td>
            </tr>
            <tr>
                <td width="90" align="right">栏目名称</td>
                <td>
                    <input type="text" name="title" value="<{$Info.title}>" size="80" class="inpMain" />
                </td>
            </tr>
            <tr>
                <td width="90" align="right">约束规则</td>
                <td>
                    <input type="text" name="name" value="<{$Info.name}>" size="80" class="inpMain" />
                    注：所请求的URL连接 如：Admin/Log/index(项目组/控制器/方法)
                </td>
            </tr>
            <tr>
                <td width="90" align="right">所属项目组</td>
                <td>
                    <input type="text" name="type"  value="<{$Info.type}>" size="80" class="inpMain" />
                </td>
            </tr>
            <tr>
                <td width="90" align="right">约束条件</td>
                <td>
                    <input type="text" name="condition" value="<{$Info.condition}>" size="80" class="inpMain" />
                    注：无特殊需求请不要对其设置
                </td>
            </tr>
            <tr>
                <td width="90" align="right">栏目状态</td>
                <td>
                    <label><input type="radio" name="status" value="1" <if condition="$Info['status'] eq 1">checked</if>> 启用</label>
                    <label><input type="radio" name="status" value="0" <if condition="$Info['status'] eq 0">checked</if>> 禁用</label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="hidden" name="id" value="<{$Info.id}>">
                    <input class="btn" type="submit" value="提交" />
                </td>
            </tr>
        </table>
    </form>
</div>
</div>
<include file="Public/web_footer" />