<include file="Public/web_header" />

<include file="Public/web_left" />

<div id="dcMain">
    <!-- 当前位置 -->
    <div id="urHere">
        系统管理中心
        <b>></b>
        角色管理
        <b>></b>
        <strong>添加角色</strong>
    </div>
    <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="<{:U('index')}>" class="actionBtn">角色列表</a>添加角色</h3>
    <form action="<{:U('addsave')}>" method="post" enctype="multipart/form-data">
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">

            <tr>
                <td width="90" align="right">角色名称</td>
                <td>
                    <input type="text" name="title" size="80" class="inpMain" />
                </td>
            </tr>

            <tr>
                <td width="90" align="right">栏目选择</td>
                <td>

<div class="RuleStyle">
    <dl>
        <volist name="RuleList" id="Rule">
            <if condition="$Rule['typenode'] eq 1">
                <span class="Seat_2"></span>
            </if>
            <dd class="Seat_<{$Rule.typenode}>" <if condition="$Rule['typenode'] neq 3">onclick="CheckObject.SeatRuleBox('.Seat_<{$Rule.typenode}>');"</if>>
                <label><input type="checkbox" name="RuleID[]" value="<{$Rule.id}>"> <{$Rule.title}></label>
            </dd>
        </volist>
    </dl>
</div>

<!--                    <#volist name="RuleList" id="Rule"#>
                        <dt><label><input type="checkbox"> <#{$Rule.title}></label></dt>
                        <dd><label><input type="checkbox"> <#{$Rule.title}></label></dd>
                        <ul>
                            <li><label><input type="checkbox"> <#{$Rule.title}></label></li>
                            <li><label><input type="checkbox"> <#{$Rule.title}></label></li>
                        </ul>
                    <#/volist#>-->

                </td>
            </tr>

            <tr>
                <td width="90" align="right">角色状态</td>
                <td>
                    <label><input type="radio" name="status" value="1" checked> 启用</label>
                    <label><input type="radio" name="status" value="0"> 禁用</label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <label><input type="checkbox" id="RuleAllBox" onclick="CheckObject.RuleAllBoxFun(this);">
                    全选/反选</label>
                    <input class="btn" type="submit" value="提交" />
                </td>
            </tr>
        </table>
    </form>
</div>
</div>
<include file="Public/web_footer" />