<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>后台登录</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/style.css" />
<style type="text/css">
body{height:100%;background:#16a085;overflow:hidden;}
canvas{z-index:-1;position:absolute;}
</style>
<script src="__PUBLIC__/Admin/js/login.js"></script>
<script src="__PUBLIC__/Admin/js/Particleground.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/adminCommon.js"></script>
<script>
$(document).ready(function() {
  //粒子背景特效
  $('body').particleground({
    dotColor: '#5cbdaa',
    lineColor: '#5cbdaa'
  });
});
</script>
</head>

<body>
<dl class="admin_login">
    <form action="<{:U('Login/check')}>" method="post" onsubmit="return LoginFormCheck();">
         <dt>
          <strong>商城系统管理中心</strong>
          <em>Management System</em>
         </dt>
         <dd class="user_icon">
          <input id="AdminName" name="AdminName" type="text" placeholder="账号" class="login_txtbx"/>
         </dd>
         <dd class="pwd_icon">
          <input id="AdminPwd" name="AdminPwd" type="password" placeholder="密码" class="login_txtbx"/>
         </dd>
         <dd class="val_icon">
          <div class="checkcode">
            <input id="AdminCode" name="AdminCode" type="text" placeholder="验证码" maxlength="4" class="login_txtbx">
            <img id="ShowCode" src="<{:U('Codecheck/logincheck')}>" height="35" width="75">
          </div>
          <input type="button" onclick="$('#ShowCode').attr('src','<{:U('Codecheck/logincheck')}>?'+Math.random())" value="切换验证码" class="ver_btn">
         </dd>
         <dd>
          <input type="submit" value="立即登陆" class="submit_btn"/>
         </dd>
         <dd>
          <p>© 2015-2016 版权所有</p>
         </dd>
    </form>
</dl>
</body>
</html>
